---
import Menu from './Menu.jsx';

const menus = [

  {
    nombre:"Teamfight Tactics",
    link:"/tft/meta-comps-tier-list-teamfight-tactics/",
    img:"/tft/assets/t-logo.png",
    // submenus:[
    //   {nombre:"Patch Dates",link:"/tft/patch-dates/"},
    //   {nombre:"Tier List",link:"/tft/items/"},
    //   {nombre:"Items",link:"/tft/tier-list/"},
    // ]
  },
  {
    nombre:"League of Legends",
    link:"/lol/best-champions-tier-list-league-of-legends/",
    img:"/lol/lol_icon.png"
  },
  {
    nombre:"Valorant",
    link:"/valorant/meta-agents-maps/",
    img:"/valorant/logos/v2.png"
  },
  // {
  //   nombre:"Wildrift",
  //   link:"/wildrift/best-champions-tier-list-wild-rift",
  //   img:"/wildrift/logo/mini-logo.webp"
  // },
  
];

/* 
{
    nombre: 'Esports',
    link: '/esports/',
  },
  {
    nombre: 'Guias',
    link: '/guias/',
  },
{
  nombre: 'Campeones',
  link: '/campeones/',
},
  {
    nombre: 'Aumentos',
    link: '/aumentos/',
  },

{
    nombre: 'Builder',
    link: '/builder-tft/',
  },
  {
  nombre: 'Top Ladder',
    link: '/top-ladder/',
  },
  */
---

<nav>
    <div class="menuContainer">
      {
        menus.map((menu) => {
          return <Menu link={menu.link} nombre={menu.nombre} submenus={menu?.submenus} img={menu.img} client:only="react" />;
        })
      }
    </div>
    <div class:list={["menuMobile"]}>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
        <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M5,8c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,23c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,38c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175z"></path></g></g>
        </svg>
    </div>
    <div class:list={["hide","sideMenu"]}>
      <div class:list={["menuMobile"]}>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
          <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M5,8c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,23c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,38c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175z"></path></g></g>
          </svg>
      </div>
      {
        menus.map((menu) => {
          return <Menu link={menu.link} nombre={menu.nombre} img={menu.img}  />;
        })
      }
    </div>
</nav>


<script>
  document.addEventListener("astro:page-load", ()=>{
    const menuMobile = document.querySelectorAll(".menuMobile");
    menuMobile.forEach((btn)=>{
      btn.addEventListener("click",()=>{
      const sideMenu = document.querySelector(".sideMenu");
      sideMenu.classList.toggle("hide")
    })
    })  
  })
</script>

<style>
  nav{
    display: flex;
    position: relative;
    width: var(--width-main);
  }
  .menuContainer {
    display: none;
    
  }
  .sideMenu{
    position:fixed;
    top:0;
    right:0;
    width:35%;
    height: 100vh;
    flex-direction: column;
    z-index: 99;
    background-color: rgb(from var(--bg-primary) r g b / 80%);
    padding: 0px;
    backdrop-filter: blur(80%);
  }
  .menuMobile{
    display:flex;
    width:100%;
    position: relative;
    align-items: center;
    justify-content: flex-end;
    right:25px;
  }
  .sideMenu > .menuMobile{
    display: flex;
    position:relative;
    height: var(--height-header);
  }

  @media only screen and (min-width: 900px) {

    .menuMobile{
      display:none;
      position: relative;
    }
    .menuContainer {
      display: flex;
      flex-direction: row;
      position: relative;
      width: 100%;
      gap: 10px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }
</style>
