---
import Layout from "@layouts/LayoutMidOnly.astro";
import TopVideoJuegos from "@components/topVideojuegos/TopVideoJuegos.jsx";
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
const fechaActual = new Date(); // Fecha actual (ej. Marzo)
let proximoMes = new Date(fechaActual.getFullYear(), fechaActual.getMonth() + 1, 1);
const nombreMesActual = fechaActual.toLocaleString('es-ES', { month: 'long' });
const nombreMesProximo = proximoMes.toLocaleString('es-ES', { month: 'long' });
const anoActual = fechaActual.toLocaleString('es-ES', { year: 'numeric' });
const anoProximo = proximoMes.toLocaleString('es-ES', { year: 'numeric' });
const mesActual = nombreMesActual.slice(0,1).toUpperCase() + nombreMesActual.slice(1);
const mesProximo = nombreMesProximo.slice(0,1).toUpperCase() + nombreMesProximo.slice(1);
const title = `10 Mejores Lanzamientos de Videojuegos en ${mesActual} - ${mesProximo} ${anoProximo > anoActual ? anoActual+" - "+anoProximo: anoActual }`;
const canonicalURL = "https://guiadeparche.com/mejores-lanzamientos-de-videojuegos";
const description = "Fechas y trailer de próximos videojuegos para jugar y más esperados que se lanzan este mes";
const keywords = "Videojuegos, Videojuegos 2026, Videojuegos para jugar, Video juegos, videojuegos 2026, lanzamientos videojuegos 2026, mejores juegos PS5, mejores juegos Xbox, juegos PC 2026, trailers videojuegos";
const thumbnail= "https://guiadeparche.com/gamer/control-gamer.png"
const imgPost = "https://guiadeparche.com/gamer/control-gamer.png"
const JSONSchema = crearJSONSchema({title, imgPost, thumbnail, description});
---

<Layout title={title} canonical={canonicalURL} description={description} keywords={keywords} JSONSchema={JSONSchema}>
  <div style={{display:"flex", flexDirection:"column"}}>
    <TopVideoJuegos client:only="react"/>
    <TopVideoJuegos type="febrero" client:only="react"/>
    <TopVideoJuegos type="marzo" client:only="react"/>
  </div>
</Layout>