---
const {src,loading="lazy"} = Astro.props;
import { Image } from 'astro:assets';
import spinner180v2 from '../../assets/loading-180-v2.svg';
//import spinner180 from '../../assets/loading-180.svg';
const video = await getId(src);
//const url = `//www.youtube.com/embed/${videoId}?autoplay=1`;

async function getId(url) {
    const videoRegExp = /(?:youtube\.com\/(?:[^/]+\/[^/]+\/|(?:v|e(?:mbed)?)\/|.*[?&]v=)|youtu\.be\/)([^"&?/ ]{11})/;
    const playlistRegExp = /(?:youtube\.com\/(?:playlist|embed\/videoseries)\?list=)([^"&?/ ]+)/;

    const videoMatch = url.match(videoRegExp);
    const playlistMatch = url.match(playlistRegExp);
    if (playlistMatch) {
        // const data = await fetchPlaylist(playlistMatch[1])
        // return { type: 'playlist', id: playlistMatch[1], thumbnail: data.thumbnail_url, url: data.url};
        const newurl = new URL(url);
        const playlistId = newurl.searchParams.get('list');
        const siParam = newurl.searchParams.get('si') || '';
        return {type:"playlist", url: `https://www.youtube.com/embed/videoseries?list=${playlistId}&si=${siParam}}`}
    }
    else if (videoMatch) {
        return { type: 'video', id: videoMatch[1], thumbnail: `https://i.ytimg.com/vi/${videoMatch[1]}/maxresdefault.jpg`, url: `https://www.youtube.com/embed/${videoMatch[1]}` };
    } 
    else {
        return null;
    }
}



// async function fetchPlaylist(playlistId){
//     const jsonUrl = await fetch(`https://youtube.com/oembed?url=https%3A//www.youtube.com/playlist%3Flist%3D${playlistId}&format=json`);
//     const {thumbnail_url, html} = await jsonUrl.json();
//     const srcMatch = html.match(/src="([^"]+)"/);
//     return {thumbnail_url: thumbnail_url.replace("hqdefault.jpg","default.jpg"), url: srcMatch ? srcMatch[1] : null}
// }
---


<div class="divIframe" data-url={video.url} data-loading={loading}>
    <Image
        src={spinner180v2}
        width={25*16}
        height={25*9}
        class="spinner"
        alt="spinner-loading"
        
    />
</div>

<style>
    .divIframe{
        display: flex;
        width: 100%;
        position:relative;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        aspect-ratio: 16/9;
    }
    .iframeYoutube{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .spinner{
        display: flex;
        position: absolute;
        
    }
    .hideIframe{
        visibility: hidden;
    }
    .hide{
        display: none;
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        const youtubeThumbnail = document.getElementsByClassName("divIframe");
        Array.prototype.forEach.call(youtubeThumbnail,(div:HTMLDivElement)=>{
            const getDataURL = div.dataset.url;
            const spinner = div.children;
            const iframe = document.createElement("iframe")
            iframe.setAttribute("width","100%")
            iframe.setAttribute("height","100%")
            iframe.setAttribute("loading","lazy")
            iframe.setAttribute("src",getDataURL)
            iframe.setAttribute("title","Videos de Youtube Guiadeparche.com")
            iframe.setAttribute("referrerpolicy","strict-origin-when-cross-origin")
            iframe.setAttribute("allow","accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share")
            iframe.classList.add("iframeYoutube")
            iframe.classList.add("hideIframe")
            div.appendChild(iframe)
            iframe.addEventListener("load",()=>{
                iframe.classList.toggle("hideIframe")
                spinner[0].classList.add("hide")
                
            })
        })
    })
</script>