---
import Layout from "@layouts/LayoutMidOnly.astro"
import VisualizadorMetaWildrift from "@components/wildrift/VisualizadorMetaWildrift"
import { crearJSONSchema } from "@json/schema/crearJSONSchema";
const title="Meta Wild Rift"
const description = "Top Wild rift League of Legends Meta. Discover the latest Tier List!";
const imgPost = "/wildrift/portada.webp"
const JSONSchema = crearJSONSchema({title, imgPost, description});
const keywords = "Wild Rift Meta, Wild Rift Champions, Wild Rift Tier List, Best Champions Wild Rift";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<Layout title={title}  JSONSchema={JSONSchema} description={description} keywords={keywords} image={imgPost} canonical={canonicalURL}>
  <div class="smallContainer">
    <h1>🔥 ¡TOP TIER del parche en Wild Rift! 🔥</h1>
    <VisualizadorMetaWildrift client:only="react"></VisualizadorMetaW>
    <p>Estos son los campeones que dominan cada línea, junto con sus runas clave:</p>
    <p>🛡 Baron Lane: Wukong — Grasp of the Undying<br>
    Tanque, con sustain y engage brutal. Su clon y CC lo hacen casi imposible de ignorar en teamfights.
    </p>
    <p>🌲 Jungla: Ambessa — Conqueror<br>
    Simplemente OP... Daño consistente, movilidad decente y presencia fuerte desde el early game.
    </p>
    <p>🧠 Mid: Zoe — First Strike<br>
    One-shot machine. Con buen posicionamiento y bursteo desde lejos, es una pesadilla para cualquier mid enemigo.
    </p>
    <p>💣 ADC: Corki — Conqueror<br>
    Corki escala rápido y su daño mixto es difícil de itemizar contra él. Su poke y movilidad lo hacen único entre los tiradores.
    </p>
    <p>🛡 Support: Ornn — Glacial Augment<br>
    Tanque utilitario con iniciaciones brutales. Su CC en área y mejora de ítems lo hacen el support más completo del parche
    </p>
  </div>
</Layout>

<style>
  .smallContainer{
    display: flex;
    width: 50%;
    flex-direction: column;
  }
</style>