---
import Layout from "@layouts/LayoutMidOnly.astro";
import FormularioTierListValorant from "@components/valorant/FormularioTierListValorant";
import Contenedor from "@components/valorant/Contenedor";
import { crearJSONSchema } from "@json/schema/crearJSONSchema";
import { ValorantConstantes } from "@stores/dataValorant";
const constantes = ValorantConstantes.get();
const title=constantes.titulo || "Meta Agents for competitive Maps in Valorant";
const description = constantes.parrafo1 || "Top Agents Meta Valorant. Discover the latest Tier List, Maps for every patch.";
const imgPost = "/valorant/portada.webp"
const JSONSchema = crearJSONSchema({title, imgPost, description});
const keywords = "Valorant Meta, Agents Valorant, Maps Valorant, Tier List Valorant, Best Agents Valorant";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<Layout title={title} JSONSchema={JSONSchema} description={description} keywords={keywords} image={imgPost} canonical={canonicalURL}>
  <div class="smallContainer">

    <Contenedor client:only="react">
      <FormularioTierListValorant client:only="react">
    </Contenedor >
  </div>
</Layout>

<style>
  .smallContainer{
    display: flex;
    width: 50%;
  }
</style>