---
import { Image } from "astro:assets";
import {BorderColorCampeon} from "../../json/updates/constantesCampeones";
import { assets3Estrellas } from "@stores/dataTFT";
const {nombreCampeon, titulo, tresEstrellas, IconoSuperior, index, i, imgCampeon, meta, coste, alternativa} = Astro.props;
const borderColor = BorderColorCampeon[coste];
---


<div class:list={['imgChampionTierList',(index === 0 && i === 0 ? ' imgSelected' : ''), alternativa ? "alternativa" : ""]} data-alt={titulo} >
    <div class="borderChampion">

      <Image
      src={imgCampeon}
      alt={titulo}
      class="imgChampionBorderTierList"
      width={100}
      height={100}
      inferSize={true}
      
      />
      {tresEstrellas && <Image
      src={assets3Estrellas}
      alt={"3-estrella"}
      class="tresEstrellas"
      width={100}
      height={100}
      inferSize={true}
      />
    }
    {IconoSuperior &&
    <div class="containerUpperIcon">
      <Image
      src={IconoSuperior}
      alt={"Icono de identificacion"}
      class="iconoSuperior"
      width={100}
      height={100}
      inferSize={true}
      />
      </div>}
    </div>
</div>
    
<style define:vars={{borderColor}}>
    .containerChampionTierList {
      display: flex;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;

    }
    .borderChampion{
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      border: 4px solid var(--borderColor);
      box-sizing: border-box;

    }
    .imgChampionBorderTierList{
      width: 100%;
      height: 100%;
    }
    .imgChampionTierList:hover {
      cursor: pointer;
      transform: scale(1);
    }
  
    .imgChampionTierList {
      width: 20%;
      height: auto;
      box-sizing: border-box;
      transition: 0.5s;
      transform: scale(0.9);
    }

    .iconoSuperior{
      display: flex;
      position: absolute;
      top:-1px;
      right: -1px;
      background-color: var(--borderColor);
      width: 25%;
      height: 25%;
    }
  
    .imgSelected {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      transform: scale(1);
      transition: 0.5s;
    }
    .tresEstrellas{
      display: flex;
      position: absolute;
      top:-12px;
      left:-12px;
      filter: contrast(160%);
      width: 100%;
      height: 100%;
    }

    @media only screen and (min-width:960px){
      .borderChampion{
        border: 4px solid var(--borderColor);
      }
    }
  </style>
  