---
import Layout from "@layouts/LayoutMidOnly.astro";
import MetaCompsIlluvium from "@components/illuvium/MetaCompsIlluvium";
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
const title = "Best Illuvium Arena Gauntlet Meta Teams Comps";
const canonicalURL = "https://guiadeparche.com/illuvium/Guantlet-Arena-Best-Teams";
const description = "Tier list with the best team comps for Illuvium Arena Gauntlet with strategy, weapons, augments, amplifiers and positioning";
const keywords = "illuvium gauntlet, illuvium arena, illuvium comps";
const thumbnail= ""
const imgPost = ""
const JSONSchema = crearJSONSchema({title, imgPost, thumbnail, description});
---

<Layout title={title} JSONSchema={JSONSchema} description={description} keywords={keywords} image={thumbnail} canonical={canonicalURL}>
  <div class="smallContainer">
    <h1>{title || "Best Illuvium Arena Gauntlet Meta Teams Comps"}</h1>
    <MetaCompsIlluvium client:only="react"></MetaCompsIlluvium> 
  </div>
</Layout>

<style>
  .smallContainer{
    display: flex;
    flex-direction: column;
  }
  @media only screen and (max-width:900px) {
    .smallContainer{
    width: 90%;
  }
}
  
  @media only screen and (min-width:900px) {
    .smallContainer{
      width: 60%;
    }
  }
</style>