---
import Main from "@components/main/Main.astro";
import Layout from "src/layouts/Layout.astro";
import {championsTFT, setPBE} from "../json/updates/constantesPBE.js";
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
import TablaCampeonesTFT from "@components/main/Campeones/TablaCampeonesTFT.jsx";
import Twitch from "@components/embed/Twitch";
championsTFT.sort(compare)
function compare( a, b ) {
    if(a.cost < b.cost){
        return -1
    }
    if(a.cost > b.cost){
        return 1
    }
    if ( a.characterName < b.characterName){
        return -1;
    }
    if ( a.characterName > b.characterName ){
        return 1;
    }
    return 0;
}
const title="Campeones Set 12 TFT";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
//const socialImageURL = new URL('/images/preview.png', Astro.url);
const description = `✅ Información de campeones del Set 12 de Teamfight Tactics (TFT)`;
const keywords = `Campeones TFT, Campeones Teamfight Tactics, Campeones Set 12 TFT, Campeones Mágico y Caotico, TFT, Teamfight Tactics, Habilidades de Campeones TFT`;
const thumbnail="/campeones/poppy.webp"
const JSONSchema = crearJSONSchema({title, thumbnail});

---

<link rel="canonical" href={canonicalURL} />
<!-- <meta property="og:image" content={socialImageURL} /> -->
<meta name="description" content={description}>
<meta name="keywords" content={keywords}>

<Layout title={title} JSONSchema={JSONSchema}>
    <Fragment slot="bodyMainAside">
        hola
    </Fragment>
    <Fragment slot="bodyMainAsideTwitch">
        <Twitch client:only="react"/>
    </Fragment>
    <Fragment slot="bodyMainAsideAds">
        Publicidad
    </Fragment>
    <Main>
        <h1 class="titulo">Campeones del Set {setPBE} de TFT</h1>
        <TablaCampeonesTFT client:load></TablaCampeonesTFT>
    </Main>
</Layout>
