---
import Main from "@components/main/Main.astro";
import Layout from "src/layouts/Layout.astro";
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
import Pestana from "../components/main/Competitivo/Pestanas.jsx";
const title="Campeones Set 12 TFT";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
//const description = `✅ Información de campeones del Set 12 de Teamfight Tactics (TFT)`;
const keywords = `Campeones TFT, Campeones Teamfight Tactics, Campeones Set 12 TFT, Campeones Mágico y Caótico, TFT, Teamfight Tactics, Habilidades de Campeones TFT`;
const JSONSchema = crearJSONSchema({title})

---

<link rel="canonical" href={canonicalURL} />
<!-- <meta property="og:image" content={socialImageURL} /> -->
<!-- <meta name="description" content={description}> -->
<meta name="keywords" content={keywords}>

<Layout title={title} JSONSchema={JSONSchema}>
    <Main>
        <h1 class="titulo">Competitivo TFT Latam & Americas</h1>
        <img class="imagenRectangular" src="/competitivo/piramide-magico-y-caotico.webp" alt="Piramide del Competitivo Set 12 de TFT Mágico y Caótico"/>
        <h2 class="titulo">Torneos TFT Set 12</h2>
       <Pestana client:only="react"/>
        <h2 class="titulo">Calendario Competitivo Torneos TFT</h2>
        <img class="imagenRectangular" src="/competitivo/cronograma-magico-y-caotico.webp" alt="Calendario del Competitivo TFT Set 12 Mágico y Caótico"/>
        <h3 class="titulo">Eventos próximos</h3>
        <p></p>
        <h2 class="titulo">Redes y links importantes</h2>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </Main>
</Layout>

<style>
    .imagenRectangular{
        display: flex;
        width: 100%;
    }
</style>