---
import Main from "@components/main/Main.astro";
import Layout from "src/layouts/Layout.astro";
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
import Pestana from "../components/main/Competitivo/Pestanas.jsx";
const title="Campeones Set 12 TFT";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
//const description = `✅ Información de campeones del Set 12 de Teamfight Tactics (TFT)`;
const keywords = `Campeones TFT, Campeones Teamfight Tactics, Campeones Set 12 TFT, Campeones Mágico y Caótico, TFT, Teamfight Tactics, Habilidades de Campeones TFT`;
const JSONSchema = crearJSONSchema({title})

---

<link rel="canonical" href={canonicalURL} />
<!-- <meta property="og:image" content={socialImageURL} /> -->
<!-- <meta name="description" content={description}> -->
<meta name="keywords" content={keywords}>

<Layout title={title} JSONSchema={JSONSchema}>
    <Main>
        <h1 class="titulo">Competitivo TFT Latam & Americas</h1>
        <h2 class="titulo">Calendario Torneos TFT Set 12</h2>
        <img class="imagenRectangular" src="/competitivo/cronograma-magico-y-caotico.webp" alt="Calendario del Competitivo TFT Set 12 Mágico y Caótico"/>
        <h3 class="titulo">Eventos próximos</h3>
        <h4>Tactician Trials + Tactician's Cup I</h4>
        <ul>
            <li>Registrations Open: viernes, 2 de agosto de 2024 12:00</li>
            <li>Registrations Close: sábado, 10 de agosto de 2024 22:59</li>
            <li>Cup Snapshot: domingo, 11 de agosto de 2024 22:00</li>
            <li>Tactician Trials Day 1: sábado, 17 de agosto de 2024 14:00</li>
            <li>Tactician Trials Day 2: domingo, 18 de agosto de 2024 14:00</li>
            <li>Tactician's Cup I Day 1: viernes, 23 de agosto de 2024 14:00</li>
            <li>Tactician's Cup I Day 2: sábado, 24 de agosto de 2024 14:00</li>
            <li>Tactician's Cup I Day 3: domingo, 25 de agosto de 2024 14:00</li>
        </ul>
       
        <h4>Tactician Trials + Tactician's Cup II</h4>
        <ul>
            <li>Registrations Open: viernes, 30 de agosto de 2024 12:00</li>
            <li>Registrations Close: sábado, 7 de septiembre de 2024 22:59</li>
            <li>Cup Snapshot: domingo, 8 de septiembre de 2024 22:00</li>
            <li>Tactician Trials Day 1: sábado, 14 de septiembre de 2024 14:00</li>
            <li>Tactician Trials Day 2: domingo, 15 de septiembre de 2024 14:00</li>
            <li>Tactician's Cup II Day 1: viernes, 20 de septiembre de 2024 14:00</li>
            <li>Tactician's Cup II Day 2: sábado, 21 de septiembre de 2024 14:00</li>
            <li>Tactician's Cup II Day 3: domingo, 22 de septiembre de 2024 14:00</li>
        </ul>

        <h4>Tactician Trials + Tactician's Cup III</h4>
        <ul>
            <li>Registrations Open: viernes, 27 de septiembre de 2024 12:00</li>
            <li>Registrations Close: sábado, 5 de octubre de 2024 22:59</li>
            <li>Cup Snapshot: domingo, 6 de octubre de 2024 22:00</li>
            <li>Tactician Trials Day 1: sábado, 12 de octubre de 2024 14:00</li>
            <li>Tactician Trials Day 2: domingo, 13 de octubre de 2024 14:00</li>
            <li>Tactician's Cup III Day 1: viernes, 18 de octubre de 2024 14:00</li>
            <li>Tactician's Cup III Day 2: sábado, 19 de octubre de 2024 14:00</li>
            <li>Tactician's Cup III Day 3: domingo, 20 de octubre de 2024 14:00</li>
        </ul>

        <h4>Leaderboard Snapshots</h4>
        <ul>
            <li>#1 martes, 20 de agosto de 2024 22:00</li>
            <li>#2 martes, 27 de agosto de 2024 22:00</li>
            <li>#3 martes, 3 de septiembre de 2024 22:00</li>
            <li>#4 martes, 10 de septiembre de 2024 22:00</li>
            <li>#5 martes, 17 de septiembre de 2024 22:00</li>
            <li>#6 martes, 24 de septiembre de 2024 22:00</li>
            <li>#7 martes, 1 de octubre de 2024 22:00</li>
            <li>#8 martes, 8 de octubre de 2024 22:00</li>
            <li>#9 martes, 15 de octubre de 2024 22:00</li>
        </ul>
 
        <h2 class="titulo">Torneos TFT Set 12</h2>
        <Pestana client:only="react"/>
        <p></p>
        <img class="imagenRectangular" src="/competitivo/piramide-magico-y-caotico.webp" alt="Piramide del Competitivo Set 12 de TFT Mágico y Caótico"/>
        <h2 class="titulo">Redes y links importantes</h2>
        <h3>ESL Latinoamerica/ Faceit (torneo sub-regionales):</h3>
        <ul>
            <li><a href="https://twitter.com/ESLlatam" target="_blank" rel="noopener noreferrer" >ESL Latam</a></li>
            <li><a href="https://www.faceit.com/en/organizers/9be626fc-8f37-4b44-ba3f-449ebee7d2ea/TFT%20AMERICAS" target="_blank" rel="noopener noreferrer">Faceit</a></li>
        </ul>

        <h3>TFT AMERICA’S:</h3>
        <ul>
            <li><a href="https://americastftesports.teamfighttactics.leagueoflegends.com/" target="_blank" rel="noopener noreferrer">Americastftesports</a></li>
            <li><a href="https://discord.com/invite/xqV5K4gw5s" target="_blank" rel="noopener noreferrer">Discord</a></li>
        </ul>
        <h2 class="titulo">Otros contactos:</h2>
        <h3>Riot Sherman Director de  Esports TFT:</h3>
        <ul>
            <li><a href="https://twitter.com/RiotSherman" target="_blank" rel="noopener noreferrer">Riot Sherman</a></li>
        </ul>


        <h3>Riot Dreamflare Lider TFT Esports EMEA & Americas:</h3>
        <ul>
            <li><a href="https://twitter.com/max_wish" target="_blank" rel="noopener noreferrer">Max Wish</a></li>
        </ul>

        <h3>Piehat, Operaciones Esports TFT Latam:</h3>
        <ul>
            <li><a href="https://twitter.com/PieHatPH" target="_blank" rel="noopener noreferrer">Pie Hat</a></li>
        </ul>

        <h3>Tini, Operaciones Esports TFT Latam:</h3>
        <ul>
            <li><a href="https://twitter.com/LATINITFT" target="_blank" rel="noopener noreferrer">Latini TFT</a></li>
        </ul>

        <h3>Jupeson, TFT Latam Esports and Content Creator:</h3>
        <ul>
            <li><a href="https://twitter.com/jupeson" target="_blank" rel="noopener noreferrer">Jupeson</a></li>
        </ul>
    </Main>
</Layout>

<style>
    .imagenRectangular{
        display: flex;
        width: 100%;
    }
    a{
        color:brown
    }
    ul > li{
        font-size: smaller;
    }
</style>