---
import Layout from "../layouts/Layout.astro"
import Main from "@components/main/Main.astro";
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
import {Items as ItemsTable} from "../components/main/Admin/Items";
const title = 'TFT Patch in 2025';
const description = `Conoce cuando sale las nuevas versiones o parches de Teamfight Tactics "TFT"`;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const keywords = `Parches, Path, Parche, TFT, Teamfight Tactics, TFT Patch, Parche TFT`;
const JSONSchema = crearJSONSchema({title, description});

---

<!-- <link rel="canonical" href={canonicalURL} /> -->
<!-- <meta property="og:image" content={socialImageURL} /> -->
<!-- <meta name="description" content={description}>
<meta name="keywords" content={keywords}> -->
<Layout title={title} JSONSchema={JSONSchema} description={description} keywords={keywords} canonical={canonicalURL}>
    <Fragment slot="bodyMainAside">
      <!--
       Publicidad 
       -->
    </Fragment>
    <!-- <Fragment slot="bodyMainAsideTwitch">
        <Twitch client:only="react"/>
    </Fragment>
    <Fragment slot="bodyMainAsideAds">
        Publicidad
    </Fragment> -->
    <Main>
      <h1 class="titulo">TFT Patch in 2025</h1>
      <!-- <p class="parrafo">Unlock your Teamfight Tactics gameplay with our guide to TFT items. Discover the best items for Set 12, including radiant items and support options. Our TFT items tier list offers insights on the most effective choices.</p> -->
      <p class="parrafo"></p>
      <div class="separador">
      <img src="../../public/tft/assets/TFT_parche_2025.jpeg" alt="prueba1"  style={{width:"100%",display:"flex", alingItems:"center"}}/>
        <!-- <ItemTierList client:only="react"/> -->
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Consider this the yearly patch schedule pinned post, since I know I still owe it. It&#39;s close enough and should last us until October at least. So if you&#39;re ever curious when a TFT patch comes out, here ya go! <a href="https://t.co/eDpxoLR9ty">pic.twitter.com/eDpxoLR9ty</a></p>&mdash; Riot Mort (@Mortdog) <a href="https://twitter.com/Mortdog/status/1881727738626863549?ref_src=twsrc%5Etfw">January 21, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div> 
    </Main>
</Layout>

<style>
  .parrafo{
    font-size: smaller;
    text-align: center;
  }
  .separador{
    display:flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
  }

</style>