---
import Layout from "@layouts/LayoutMidOnly.astro"
import VisualizadorMetaLOL from "@components/leagueOfLegends/VisualizadorMetaLOL"
import VersionCompo from "@components/leagueOfLegends/VersionCompo"
import {crearJSONSchema} from "src/json/schema/crearJSONSchema";
const title = "League of Legends Champions Tier List | Mejores campeones LOL";
const canonicalURL = "https://guiadeparche.com/lol/best-champions-tier-list-league-of-legends";
const description = "Top League of Legends Meta champions. Discover the latest Tier List and Runes for each champions by lane for every patch. Mejores Campeones LOL!";
const keywords = "League of Legends, LOL, campeones, tier list, mejores campeones, meta LOL";
const thumbnail= "/campeones/set12/ryze.webp"
const imgPost = "https://i.ytimg.com/vi/5ph-NnCjDSk/maxresdefault.jpg"
const JSONSchema = crearJSONSchema({title, imgPost, thumbnail, description});
---

<Layout title={title} JSONSchema={JSONSchema} description={description} keywords={keywords} image={thumbnail} canonical={canonicalURL}>
  <div class="smallContainer">
    <h1>League of Legends Champions Tier List<br>Mejores campeones LOL</h1>
    <VersionCompo client:only="react"></VersionCompo>
    <VisualizadorMetaLOL client:only="react"></VisualizadorMetaLOL>  
  </div>
</Layout>

<style>
  .smallContainer{
    display: flex;
    width: 50%;
    flex-direction: column;
  }
</style>