---
import Layout from '../../layouts/Layout.astro';
import ContainerMeta from '../../components/new-meta-comp/ContainerMeta.astro';
import Youtube from '../../components/youtube/Youtube.astro';
const embedPlaylistMetaComp = {
  src:"https://www.youtube.com/embed/videoseries?si=bgSCFvRODu7hH8uv&amp;list=PLxRnNvReiLMEriFDu0UxXScDabCIX-PWy",
  title:"YouTube video player",
  allow:"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen;"
}
const title = 'TFT - Meta Comp';
---

<Layout title={title}>
  <main>
    <Youtube src={embedPlaylistMetaComp.src} title={embedPlaylistMetaComp.title} allow={embedPlaylistMetaComp.allow} playlist={true}></Youtube>
    <h1 class="titulo">Meta Comp</h1>
    <ContainerMeta />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 50%;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    background-color: var(--bg-tertiary);
    box-sizing: border-box;
  }

  .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .hide {
    display: none;
  }

  @media only screen and (max-width: 900px) {
    main {
      width: 100%;
    }
  }
