---
import Layout from '../../layouts/Layout.astro';
import ContainerMeta from '../../components/new-meta-comp/ContainerMeta.astro';
import Youtube from '../../components/youtube/Youtube.astro';
import Main from '@components/main/Main.astro';
import { set, latestVersion } from 'src/json/updates/constantesLatest';
const title = 'TFT - Meta Comp';
// Example: Construct a canonical URL using your production domain
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// Example: Construct a URL for SEO meta tags using your current domain
const socialImageURL = new URL('/images/preview.png', Astro.url);
const description = `Best TFT Comps & Meta Builds Tier List "Composiciones Meta" Parche ${latestVersion} TFT "Free ELO" Set ${set} Teamfight Tactics.`;
const keywords = `Meta, TFT, Teamfight Tactics, guiadeparche, ${latestVersion}, ${set}`;
---
<link rel="canonical" href={canonicalURL} />
<meta property="og:image" content={socialImageURL} />
<meta name="description" content={description}>
<meta name="keywords" content={keywords}>
<Layout title={title}>
  <Main>
    <h1 class="titulo">Mejores Composiciones Meta Parche {latestVersion}<br>TFT Set 11 | Teamfight Tactics</h1>
    <Youtube src={"https://youtube.com/playlist?list=PLxRnNvReiLMEriFDu0UxXScDabCIX-PWy&si=YW7NdSvPfu9dQhx9"} loading={"lazy"}></Youtube>
    <ContainerMeta />
  </Main>
</Layout>

<style>
  .hide {
    display: none;
  }
</style>