---
import meta from './metaTFTComposiciones.json';
import ImgTier from './ImgTier.astro';
import ContainerChampionTierList from './ContainerChampionTierList.astro';
import InfoComp from './InfoComp.astro';
---


<div id="meta" class="containerMeta" transition:persist>
  {
    Object.keys(meta).map(function (key, index) {
      return (
        <>
          <div class="containerTier">
            <ImgTier key={key} index={index}/>
            <ContainerChampionTierList championsTier={meta[key]} index={index}/>
          </div>
          <InfoComp championsTier={meta[key]}  index={index} />
        </>
      );
    })
  }
</div>

<style>
.containerTier{
  display: flex;
  flex-direction: row;
}
</style>

