---
import datosSet11Latino from './datosSet11Latino.json';
import InfoPestanaStage from "./InfoPestanaStage.astro";
import InfoPestanaTips from "./InfoPestanaTips.astro";
import Youtube from "../youtube/Youtube.astro"
import InfoPestanaGameplay from "./InfoPestanaGameplay.astro";
const {Titulo, Gamep, Tips, Early, Mid, Late, index } = Astro.props;
const aumentos = datosSet11Latino.objetos;
---

<div class="containerPestanas">
  {(Early) && <div class={'pestanas active'}>Early 2-1</div> }
  {(Mid) && <div class={'pestanas' + (!Early ? " active" : "")}>Mid 3-2</div> }
  {(Late) && <div class={'pestanas' + (!Early && !Mid ? " active" : "")}>Late 4-2</div> }
  {(Tips) && <div class={'pestanas' + (!Early && !Mid && !Late ? " active" : "")}>Tips</div> }
  {(Gamep) && <div class={'pestanas' + (!Early && !Mid && !Late && !Tips ? " active":"")}>VOD</div> }
</div>

<div class="pestanasContainer">
  {(Early) &&
    <div class={"containerInfoPestanas show"}>
      <InfoPestanaStage info={Early} Titulo={Titulo}/>
    </div>
  }
  {(Mid) &&
    <div class={"containerInfoPestanas" + (!Early?" show":"")}>
      <InfoPestanaStage info={Mid} Titulo={Titulo} check={!Early}/>
    </div>
  }
  {(Late) &&
    <div class={"containerInfoPestanas" + (!Early && !Mid?" show":"")}>
      <InfoPestanaStage info={Late} Titulo={Titulo}/>
    </div>
  }
  {(Tips) &&
    <div class={"containerInfoPestanas" + (!Early && !Mid && !Late?" show":"")}>
      <InfoPestanaTips Tips={Tips}/>
    </div>
  }
  {(Gamep) &&
    <div class={"containerInfoPestanas" + (!Early && !Mid && !Late && !Tips?" show":"")}>
      {Object.values(Gamep).map((url)=>{
        return (
          // <InfoPestanaGameplay Gameplay={url}/>
          <Youtube src={url} loading={"lazy"} titulo={Titulo}></Youtube>
        )
      })}
    </div>
  }
</div>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const containerPestanas =
      document?.getElementsByClassName('containerPestanas');

    Array.prototype.forEach.call(containerPestanas, (element, index) => {
      element?.getElementsByClassName('pestanas')[0]?.classList.add('active');
    });

    const pestanas = document.querySelectorAll('.pestanas');
    pestanas?.forEach((pestana) => {
      pestana?.addEventListener('click', () => {
        const pestanaActive =
          pestana?.parentElement?.querySelector(`.pestanas.active`);
        pestanaActive?.classList.remove('active');
        const pestanaContainer = pestanaActive?.parentElement?.nextElementSibling;

        const indexPestanaDeactivate = Array.from(
          pestanaActive?.parentNode?.children
        ).indexOf(pestanaActive);
        pestanaContainer?.children[indexPestanaDeactivate]?.classList.remove(
          'show'
        );

        const indexPestanaActive = Array.from(
          pestanaActive?.parentNode?.children
        )?.indexOf(pestana);
        pestanaContainer?.children[indexPestanaActive]?.classList.add('show');

        pestana?.classList.add('active');
      });
    });
  });
</script>

<style>
  .containerPestanas {
      display: flex;
      width: 100%;
      gap: 5px;
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: row;
      position: relative;
      color: white;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0 15px;
      box-sizing: border-box;
  }
  .pestanas {
    list-style: none;
    background-color: var(--bg-secondary);
    width: max-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /*border: 2px solid grey;*/
    font-size: 1rem;
    flex-grow: 1
  }
  .pestanas:hover {
    cursor: pointer;
    background-color: var(--bg-primary);
  }
  .active {
    background-color: var(--bg-primary);
    border-bottom-color: var(--bg-primary);
  }
  .containerInfoPestanas{
    display: none;
    padding: 1rem;
    flex-direction: column;
    box-sizing: border-box;
  }
  .show {
    display: flex;
  }
  p {
    font-size: 1rem;
    margin: 5px;
  } 
  @media only screen and (min-width: 900px) {
    .containerPestanas {
      justify-content: center;
    }
  }
</style>
