---
//import meta from './metaTFTComposiciones.json';
import ImgTier from './ImgTier.astro';
import ContainerChampionTierList from './ContainerChampionTierList.astro';
import InfoComp from './InfoComp.astro';
import { meta } from 'src/json/updates/constantesLatest';
import Youtube from '@components/youtube/Youtube.astro';
const {set, version} = Astro.props;
---


<div id="meta" class="containerMeta">
  <h1 class="titulo">Mejores Composiciones Meta Parche {version}<br>TFT Set {set} | Teamfight Tactics</h1>
  {
    Object.keys(meta).map(function (key, index) {
      if(key!=="Oculto"){
        return (
            <div class="containerTier">
              <ImgTier key={key} index={index}/>
              <ContainerChampionTierList championsTier={meta[key]} index={index} pbe={false}/>
            </div>
            <InfoComp championsTier={meta[key]}  index={index} />
        );
      }
    })
  }
</div>

<style>
.containerTier{
  display: flex;
  flex-direction: row;
}
</style>

