---
//import meta from './metaTFTComposiciones.json';
import ImgTier from './ImgTier.astro';
import ContainerChampionTierList from './ContainerChampionTierList.astro';
import InfoComp from './InfoComp.astro';
import { fetchingMetaTFTPBE } from 'src/json/updates/constantesPBE.js';
import Adsense from '@components/adsense/Adsense.astro';
const {version, set} = Astro.props;

var metaPBE = await fetchingMetaTFTPBE();
---


<div id="meta" class="containerMeta">
  <h1 class="titulo">Mejores Composiciones Meta Parche {version}<br>TFT Set {set} | Teamfight Tactics</h1>
  {
    Object.keys(metaPBE).map(function (key, index) {
      if(key!=="Oculto" && !key.includes("Alternativa")){
        return (
            <div class="containerTier">
              <ImgTier key={key} index={index}/>
              <ContainerChampionTierList championsTier={metaPBE[key]} index={index} pbe={true} alternativa={false}/>
            </div>
            <InfoComp championsTier={metaPBE[key]}  index={index} alternativa={false} />
        );
      }
    })
  }
  <Adsense dimension="rectangular"/>
  <h2 class="titulo paddingTop">Aumentos de Heroes Meta TFT</h2>
  {
    Object.keys(metaPBE).map(function (key, index) {
      if(key.includes("Alternativa")){
        return (
            <div class="containerTier">
              <ImgTier key={key} index={index}/>
              <ContainerChampionTierList championsTier={metaPBE[key]} index={index} pbe={true} alternativa={true}/>
            </div>
            <InfoComp championsTier={metaPBE[key]}  index={index} alternativa={true}/>
        );
      }
    })
  }
</div>

<style>
.containerTier{
  display: flex;
  flex-direction: row;
}
.paddingTop{
  margin-top:1.5rem;
  border-top: 2px solid var(--border-color);
}
.titulo{
  font-size: smaller;
}
@media only screen and (min-width:900px){
  .titulo{
  font-size: larger;
}
}
</style>

