---
import { Image } from 'astro:assets';
const { championsTier, index, pbe, alternativa } = Astro.props;
import CampeonesBordeTFTMeta from '@components/cards/CampeonesBordeTFTMeta.astro';
---

<div class="containerChampionTierList">
  { !pbe && 
    championsTier.map(async (champTier, i) => {
      return (
        <Image
          src={champTier.ImgCampeon}
          alt={champTier.Titulo}
          class:list={[
            'imgChampionTierList',
            (index === 0 && i === 0 ? ' imgSelected' : ''),
            alternativa ? "alternativa" : ""
          ]}
          width={100}
          height={100}
          inferSize={true}
        />
        
      );
    })
  }
  { pbe && 
    championsTier.map(async (champTier, i) => {
      return (
      <CampeonesBordeTFTMeta meta={champTier} nombreCampeon={champTier.Campeon} imgCampeon={champTier.ImgCampeon} tresEstrellas={champTier.imgEstrellas} titulo={champTier.Titulo} IconoSuperior={champTier.imgRecuadro} coste={champTier.CosteCampeon} alternativa={alternativa}/>
     
      );
    })
  }
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    const imgChampionTierList = document.querySelectorAll(
      '.imgChampionTierList:not(.alternativa)'
    );
    const imgChampionTierListAlternativa = document.querySelectorAll(
      '.imgChampionTierList.alternativa'
    );
    imgChampionTierListAlternativa[0].classList.toggle("imgSelected")
    imgChampionTierList[0].classList.toggle("imgSelected")
    imgChampionTierList.forEach((img) => {
      img.addEventListener('click', () => {
        const id = img.dataset.alt.replaceAll(' ', '-');
        const containerInfo = document.getElementById(id);
        if(img?.classList.contains("imgSelected") && !img?.classList.contains("alternativa")){
          img?.classList.toggle("imgSelected");
          containerInfo.classList.toggle("show");
        }else if(!img?.classList.contains("alternativa")){
          const imgSelected = document.querySelector(".imgSelected:not(.alternativa)");
          if(imgSelected){
            const id = imgSelected.dataset.alt.replaceAll(" ","-");
            const lastContainerInfo = document.getElementById(id);
            lastContainerInfo?.classList.toggle("show");
            imgSelected?.classList.toggle("imgSelected");
          }
          img?.classList.toggle("imgSelected");
          containerInfo?.classList.toggle("show");
        }
      });
    });

    imgChampionTierListAlternativa.forEach((img) => {
      img.addEventListener('click', () => {
        const id = img.dataset.alt.replaceAll(' ', '-');
        const containerInfo = document.getElementById(id);
        if(img?.classList.contains("imgSelected") && img?.classList.contains("alternativa")){
          img?.classList.toggle("imgSelected");
          containerInfo.classList.toggle("show");
        }else if(img?.classList.contains("alternativa")){
          const imgSelected = document.querySelector(".imgSelected.alternativa");
          if(imgSelected){
            const id = imgSelected.dataset.alt.replaceAll(" ","-");
            const lastContainerInfo = document.getElementById(id);
            lastContainerInfo?.classList.toggle("show");
            imgSelected?.classList.toggle("imgSelected");
          }
          img?.classList.toggle("imgSelected");
          containerInfo?.classList.toggle("show");
        }
      });
    });

  });
</script>

<style>
  .containerChampionTierList {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
  }

  .imgChampionTierList:hover {
    cursor: pointer;
    transform: scale(1);
  }

  .imgChampionTierList {
    width: 20%;
    height: auto;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0.9);
  }

  .imgSelected {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1);
    transition: 0.5s;
  }
</style>
