---
//import meta from './metaTFTComposiciones.json';
import ImgTier from './ImgTier.astro';
import ContainerChampionTierList from './ContainerChampionTierList.astro';
import InfoComp from './InfoComp.astro';
import Youtube from '@components/youtube/Youtube.astro';
import { metaPBE } from 'src/json/updates/constantesPBE.js';
console.log(metaPBE);
const {version, set} = Astro.props;
---


<div id="meta" class="containerMeta">
  <h1 class="titulo">Mejores Composiciones Meta (PBE) Parche {version}<br>TFT Set {set} | Teamfight Tactics</h1>
  {
    Object.keys(metaPBE).map(function (key, index) {
      if(key!=="Oculto" && key!=="Alternativa"){
        return (
            <div class="containerTier">
              <ImgTier key={key} index={index}/>
              <ContainerChampionTierList championsTier={metaPBE[key]} index={index} pbe={true}/>
            </div>
            <InfoComp championsTier={metaPBE[key]}  index={index} />
        );
      }
    })
  }
  <h2 class="titulo">Mejores Composiciones Alternativas/Aumentos Meta TFT</h2>
  {
    Object.keys(metaPBE).map(function (key, index) {
      if(key==="Alternativa"){
        return (
            <div class="containerTier">
              <ImgTier key={key} index={index}/>
              <ContainerChampionTierList championsTier={metaPBE[key]} index={index} pbe={true}/>
            </div>
            <InfoComp championsTier={metaPBE[key]}  index={index} />
        );
      }
    })
  }
</div>

<style>
.containerTier{
  display: flex;
  flex-direction: row;
}

.titulo{
  font-size: smaller;
}
@media only screen and (min-width:900px){
  .titulo{
  font-size: larger;
}
}
</style>

