---
import { Image } from 'astro:assets';
const {Gameplay} = Astro.props;
const videoId = getId(Gameplay);
const thumbail = `https://i.ytimg.com/vi/${videoId}/maxresdefault.jpg`;
function getId(url) {
    const regExp =
        /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
    const match = url.match(regExp);
    return match && match[2].length === 11 ? match[2] : null;
}
const url = `//www.youtube.com/embed/${videoId}?autoplay=1`;
---



<div class="divIframe" data-url={url}>
    <Image
        class="youtubeThumbnail"
        src={thumbail}
        alt="Logo Guiadeparche"
        width={50*16}
        height={50*9}
        inferSize={true}
        
    />
</div>


<style>
    .divIframe{
        display: flex;
        width: 100%;
        position:relative;
        flex-direction:row;
        align-items: center;
        justify-content: center;
        aspect-ratio: 16/9;
    }
    .youtubeThumbnail{
        cursor: pointer;
    }
    .hide{
        display:none;
    }
</style>

<script>
    document.addEventListener('astro:page-load', () => {
        const youtubeThumbnail = document.querySelectorAll(".youtubeThumbnail");
        youtubeThumbnail.forEach((img)=>{
            const getDataURL = img.parentElement.dataset.url;
            const divIframe = img.parentElement;
            img.classList.add("hide");
            const iframe = document.createElement("iframe")
            iframe.setAttribute("width","100%")
            iframe.setAttribute("height","100%")
            iframe.setAttribute("loading","lazy")
            iframe.setAttribute("src",getDataURL)
            iframe.setAttribute("referrerpolicy","strict-origin-when-cross-origin")
            iframe.setAttribute("allow","accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share")
            divIframe.appendChild(iframe)
        })
    })
</script>



