---
import meta from './meta.json';
import ImgTier from './ImgTier.astro';
import ContainerChampionTierList from './ContainerChampionTierList.astro';
import InfoComp from './InfoComp.astro';
---


<div id="meta" class="containerMeta" transition:persist>
  {
    Object.keys(meta).map(function (key, index) {
      return (
        <>
          <div class="containerTier">
            <ImgTier key={key} index={index}/>
            <ContainerChampionTierList championsTier={meta[key]} index={index}/>
          </div>
          <InfoComp championsTier={meta[key]}  index={index} />
        </>
      );
    })
  }
</div>

<style>
  .hide{
    display: none;
  }
  .containerTier{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 60px;
  }

</style>